.LogInForm {
  box-shadow: 0 1px 5px 0 #888888;
  border-radius: 5px;
}

.LogIn {
  font-family: Calibri, Helvetica, sans-serif;
  text-align: center;
  padding: 5%;
}

.InputFields {
  text-align: center;
}

.Error {
  color: red;
  font-style: italic;
  text-align: left;
  margin-left: 6%;
}

.Input {
  width: 90%;
  height: 2.5em;
  border: solid 1px #888888;
  /* margin-bottom: 2em; */
  padding: 20px;
  outline: none;
  border: none;
  border: solid 1px #ccc;
  border-radius: 5px;
}

.Button {
  background-color: #3a5cd9;
  color: white;
  height: 2.5em;
  width: 90%;
  border: none;
  margin: 2em;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.SignUp {
  padding: 1em;
}
